
<%- include("header", {seccion: "Mi tablon de trabajos.", user: user, opciones: [
{link: "/publicar", label: "Publicar una oferta de trabajo"},
{link: "/mitablon", label: "Mi tablon de empleos"} ]}) %>
<h1>Mi tablon de trabajos</h1>

<%if(info != null && info.length != 0){%>
    <h3>Ordenar el tablon de trabajo por:</h3>
    <ul>
        <li>
            Categoria 
            (<a href="/mitablon?por=catg&desc=0">Ascendente</a>  / <a href="/mitablon?por=catg&desc=1">Descendente</a>)
        </li>
        <li>
            Años de experiencia 
            (<a href="/mitablon?por=anos&desc=0">Ascendente</a>  / <a href="/mitablon?por=anos&desc=1">Descendente</a>)
        </li>
        <li>
            Tipo de Jornada 
            (<a href="/mitablon?por=jorn&desc=0">Ascendente</a>  / <a href="/mitablon?por=jorn&desc=1">Descendente</a>)
        </li>
        <li>
            Tipo de Contrato 
            (<a href="/mitablon?por=cont&desc=0">Ascendente</a>  / <a href="/mitablon?por=cont&desc=1">Descendente</a>)
        </li>
    </ul>

    <%info.forEach((i) => { %>
    <div>
        <h3 class="display-6"><a href="/show/<%= i.id %>"><%= i.title %></a></h3>
        <p class="lead"><%=i.description.substring(0, 256) + "..."%></p>
        <hr class="my-1">
        <p><b><%= crit.catg.find(c => c.id == i.category).nombre %></b>, 
        <b><%= crit.anos.find(c => c.id == i.exp_years).nombre %></b> de experiencia, 
        <b><%= crit.jorn.find(c => c.id == i.duration).nombre %></b>, 
        <b><%= crit.cont.find(c => c.id == i.contract).nombre %></b></p>
        <hr>
      </div>
    <%});%>
    <%} else { %>
        <h3> No hay nuevos trabajos para ti, 
            suscribete a algunas caracteristicas de
             trabajos para encontrar mas posibilidades 
             de encontrar trabajos ideales para ti.
             </h3>
    <%}%>

<a href="/sub/add" class="btn btn-primary">Añadir una nueva suscripción.</a>

<%if(subs != null && subs.length > 0){ %>
<h3>Tags de suscripciones</h3>
<%subs.forEach((i) => { %>
    <form action="/sub/delete/<%= i.id %>" method="post">
        <div class="btn-group">
            <input type="submit" value="X" class="btn btn-danger">
            <button disabled="disabled" class="btn btn-secondary">
                <%i.tag.split(".").forEach(e => {%>
                    <% var catg_tag = crit.catg.find(c => e === c.tag) %>
                    <%= catg_tag != null ? ("(" + catg_tag.nombre + ")") : "" %>
                    <% var anos_tag = crit.anos.find(c => e === c.tag) %>
                    <%= anos_tag != null ? ("(" + anos_tag.nombre + ")") : "" %>
                    <% var jorn_tag = crit.jorn.find(c => e === c.tag) %>
                    <%= jorn_tag != null ? ("(" + jorn_tag.nombre + ")") : "" %>
                    <% var cont_tag = crit.cont.find(c => e === c.tag) %>
                    <%= cont_tag != null ? ("(" + cont_tag.nombre + ")") : "" %>
                <%})%>
            </button>
        </div>
    </form> 
    <br>
<%}); }%>

<%- include("footer") %>

